<div
  class="mt-6 flex w-3/5 flex-col gap-4 rounded-[15px] border border-gray-300 bg-white p-8 shadow-[0_0_20px_rgba(0,0,0,0.12)] font-custom"
>
  <input
    type="text"
    name=""
    id=""
    placeholder="Schedule a repair"
    class="w-full text-xl font-medium outline-none bg-transparent"
  />
  <div class="relative">
    <!-- Priority button -->
    @if (selectedPriority() === 'Priority') {
      <button
        type="button"
        (click)="toggleDropdown()"
        class="flex flex-row w-50 rounded-lg border bg-white px-4 py-3 border-1 border-gray-300 justify-between"
      >
        {{ selectedPriority() }}
        <app-icons
          [icon]="'drawerOpeningChevron'"
          class="text-gray-600 shrink-0 cursor-pointer"
        ></app-icons>
      </button>
      <!-- Priority dropdown -->
      @if (isOpen()) {
        <div
          class="absolute flex flex-col pt-3 bg-white w-50 rounded-b-lg border-1 border-gray-300 border-t-0 cursor-pointer"
        >
          <button
            (click)="selectPriority(Priority.Low)"
            class="block w-fit px-7 py-2 m-2 text-left cursor-pointer rounded-full bg-[#EEFBF3] text-[#56C250] font-medium"
          >
            Low priority
          </button>
          <button
            (click)="selectPriority(Priority.Medium)"
            class="block w-fit px-7 py-2 m-2 text-left cursor-pointer rounded-full bg-[#FEF3EA] text-[#FF7034] font-medium"
          >
            Medium priority
          </button>
          <button
            (click)="selectPriority(Priority.High)"
            class="block w-fit px-7 py-2 m-2 text-left cursor-pointer rounded-full bg-[#FDEFEE] text-[#E60023] font-medium"
          >
            High priority
          </button>
        </div>
      }
    } @else {}
  </div>
</div>
